/*local sittings*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    background-color: #ebebeb;
}
.rainbow_left{
    position: absolute;
    z-index: 0;
}
.rainbow_r1 {
    position: absolute;
    left: 100%;
    top: 0;
}
.rainbow_r2 {
    position: absolute;
    bottom: 0;
    left: 100%;
}
.header, .main, .footer {
    position: relative;
    margin-left: 13.750em;
    margin-right: 13.375em;
    background: white;
    padding-left: 2em;
    padding-right: 1.2em;
    z-index: 1;
}
.background_blue {
    background-color: #00aedb;
}
.background_green {
    background-color: #8cc63f;
}
.background_purple {
    background-color: #5261ac;
}
.background_orange {
    background-color: #f78f1d;
}
.background_red {
    background-color: #ff0000;
}
ul, li {
    list-style-type: none;
}
/*Header Start*/
/*Logo and Elements*/
.header__logoElements {
    display: flex;
    margin: auto;
    padding-top: 0.8em;
    justify-content: center;
}
.logo {
    padding-bottom: 3px;
}
.searchOnSite {
    padding-left: 10%;
    padding-top: 29px;
    display: flex;
}
.searchArea {
    width: 317px;
    height: 34px;
    border: 1px solid rgba(0, 0, 1, 0.1);
}
.searchButton {
    width: 120px;
    height: 34px;
    background-color: #00aedb;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 37px;
    text-transform: uppercase;
    border: none;
}
.links {
    padding-top: 28px;
    padding-left: 0.5%;

}
.linkFirst {
    padding-left: 15%;
}
/*Navigation Bar*/
.header__navbar {
    margin-top: 18px;
}
.navMenu {
    display: flex;
    justify-content: center;
}
.navLinks {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 37px;
    text-transform: uppercase;
    text-decoration: none;
    width: 10.8%;
    height: 36px;
    text-align: center;
}
.navLinks_wider {
    background-color: #898989;
    width: 363px;
    text-align: left;
    padding-left: 18px;
}
.navLinks4 {
    padding-left: 2px;
}
.navLinks5 {
    padding-left: 4px;
}
.navLinks6 {
    padding-left: 2px;
}
/*End Header*/

/*Start Main*/
.main {
    padding-top: 31px;
}
/*Main Content*/
.content {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 15px;
}
.content__mainHeader {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 47px;
}
.content__mainParagraph {
    padding-top: 11px;
    color: #494949;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
}
/*Gallery*/
.gallery {
    width: 648px;
    height: 563px;
    border: 1px solid gray;
    margin: auto;
    padding-top: 16px;
}
.galleryPhotos {
    display: flex;
    justify-content: center;
}
.largeImgItem {
    padding-left: 10px;
    width: 626px;
    height: 377px;
}
/*Content Interesting*/
.selectMenu__header {
    background-color: #5261ac;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 37px;
    text-transform: uppercase;
    border-top-right-radius: 54px;
    padding-left: 35px;
    width: 199px;
}
.selectMenu__navbar {
    display: flex;
    margin-top: 4px;
}
.selectMenu__navbarLinks_first, .selectMenu__navbarLinks_second, .selectMenu__navbarLinks_three {
    height: 36px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 37px;
    text-transform: uppercase;
    text-align: center;
}
.selectMenu__navbarLinks_first {
    background-color: #ec098d;
    width: 99px;
}
.selectMenu__navbarLinks_second {
    background-color: #f78f1d;
    width: 97px;
}
.selectMenu__navbarLinks_three {
    background-color: #00aedb;
    width: 134px;
}
.selectMenu__contentItem {
    display: flex;
    padding-bottom: 18px;
    border-bottom: 1px solid gray;
    margin-top: 16px;
}
.selectItemText {
    padding-left: 12px;
}
.selectItemHeader {
    width: 220px;
    height: 36px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.selectItemHeader__a {
    color: #00aedb;
    text-decoration: none;
}
.selectItemParagraph {
    margin-top: 8px;
    width: 223px;
    height: 49px;
    color: #494949;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}
/*likedNews*/
.likedNews__header {
    width: 329px;
    height: 36px;
    background-color: #5261ac;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 37px;
    text-transform: uppercase;
    text-align: center;
}
.likedNews__contentItem {
    display: flex;
    margin-top: 16px;
}
.likedNewsItemImg {
    width: 75px;
    height: 75px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.24);
    border: 3px solid #ffffff;
}
.likedNewsItemParagraph {
    width: 218px;
    height: 50px;
    color: #494949;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

